/*=FUENTES
---------------------------------------------*/

@font-face {
  font-family: "LGeorge";
  src: url("../fonts/Louis George Cafe.ttf");
}

@font-face {
  font-family:"LGeorgeB";
  src: url("../fonts/Louis George Cafe Bold.ttf");
}

@font-face {
  font-family: "LGeorgeI";
  src: url("../fonts/Louis George Cafe Italic.ttf");
}

@font-face {
  font-family: "Ruf";
  src: url("../fonts/Rufina-Regular.ttf");
}

@font-face {
  font-family: "RufB";
  src: url("../fonts/Rufina-Bold.ttf");
}

/*=COLORES
---------------------------------------------*/
:root{
  --azul1: #011E45;
  --azul2: #024296;
  --azul3: #0256C4;
  --azul4: #2F7BDE;
  --gris1: #1E314A;
  --textwhite: #dfdfdf;
}

/*=CUERPO STANDARD
---------------------------------------------*/
html{
  height: 100%;
}
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1{
  font-family:"Ruf";
}

h2{
  font-family:"Ruf";
}

a{
  padding: 0px;
  text-decoration: none;
}

/*=NAVBAR
------------------------------------*/
.navbar,.container-fluid{
  background-color: var(--azul1);
  padding: 0px;
}

#navLogo{
  width: 45px;
  height: 45px;
}

.nav-item>a{
  padding: 0%;
  margin: 0%;
}

#nomUser{
  margin-left: 10px;
  margin-right: 10px;
}

.nav-item>a>i{
  color: #dfdfdf;
  font-size: 38px;
}

#blockNav{
  background-color: var(--azul2);
  margin-left: 40px;
}

#tituNav{
  font-family:"Ruf";
  font-size: 38px;
  color: #dfdfdf;
  margin-bottom: 0%;
}
#nomNav{
  font-family:"Ruf";
  font-size: 32px;
  color: #dfdfdf;
}
a{
  padding: 0%;
}
/*=FOOTER
------------------------------------*/

footer{
  bottom: 0;
  width: 100%;
  height: 35px;

  background-color: var(--azul1);
}
h3{
  text-align: center;
  font-family: "lGeorge";
  font-size: 28px;
  color: white;
}
