.dato{
    font-size: 19px;
    font-family:"LGeorge";
    background-color: rgba(0, 183, 255, 0.205);
}
#uno{
    width: 100%;
    background-color: var(--azul1);
    text-align: center;
    color: var(--textwhite);
   
}
h1{
    margin: 3px;
    text-align: center;
    display: inline-block;
    font-size: 50px;
}
h2{
    font-size: 40px;
    margin:2px;
}

input, select{
    background-color: var(--azul2);
    color: var(--textwhite);
}
button{
    width: 200px;
    height: 50px;
    background-color: var(--azul1);
    color: var(--textwhite);
    font-family: "RufB";
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}
#boton{
    display: flex;
    justify-content: center;
}
#primer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#asesoria{
    width: 240px;
    background-color: var(--azul1);
    color: var(--textwhite);
}
.container{
    width:100%;
    display:flex;
    flex-direction: row;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

#col1, #col2{
    display:flex;
    flex-direction: row;
    padding: 25px;
}



