/*=Division General
---------------------------------------------*/
#principal{
    flex-grow: 1;
}
#cont{
    display: grid;
    height: 600px;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-template-rows:    8% 8% 8% 2.5% 8% 8% 8% 8% 2.5% 8% 8% 8%;
    padding-top: 20px;
}
/*=CUADROS DE CONTENIDO
---------------------------------------------*/
#c1, #c2{
    background-color: var(--azul1);
    height: 295px;
    border-radius: 8px;
}
/*=Subtitulos & cuadros
---------------------------------------------*/
.tituloSc{
    height: 50px;
    background-color: var(--gris1);
    border-radius: 5px;

    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 1; 
    text-align: center;
    padding-top: 5px;

    font-size: 36px;
    color: #dfdfdf;
}
.subtituloSc{
    font-size: 36px;

    height: 50px;

    background-color: var(--azul3);
    border-radius: 5px;

    padding-top: 3px;
    color: #dfdfdf;
    text-align: center;
}
#bloque1, #bloque2{
    display: flex;
    padding-top: 20px;
    flex-direction:column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}
p{
    background-color: var(--azul2);
    color: white;
    width: 470px;
    height: 45px;
    border-radius: 5px;
    text-align: center;
    font-family: "LGeorge";
    font-size: 26px;
}
#BE{
    grid-column-start:4;
    grid-column-end:7;
    grid-row-start:3;
    grid-row-end:3;
}
#c1{
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 5;
}

#FE{
    grid-column-start: 14;
    grid-column-end: 17;
    grid-row-start:3;
    grid-row-end:3;
}
#c2{
    grid-column-start: 12;
    grid-column-end: 19;
    grid-row-start:5;
    grid-row-end:5;
}

#programadores{
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 13;
    grid-row-end: 13;
}
/*=fotos
---------------------------------------------*/
#fotos{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#fotos>div>img{
    
    width: 220px;
    height: 220px;
    box-sizing: border-box;
    border-radius: 10px;
}
#imgc{
    z-index: 100000;
}
#imgf{
    z-index: 10000;
}
#imgs{
    z-index: 1000;
}
#imgj{
    z-index: 1000;
}


#bloque3{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;;
}
#bloque3 h3{
    width: 180px;
    height: 34px;

    font-family: "LGeorge";
    font-size: 20px;
    color: white;
    text-align: center;

    box-sizing: border-box;
    background-color: var(--azul1);

    padding-top: 5px;
    border-radius: 5px;
}

/*=ADAPTABILIDAD
---------------------------------------------*/
@media screen and (max-width: 1330px){
    #cont{
        display: flex;
        flex-direction:column;
        flex-wrap: nowrap;
        align-items: center;
    }
    #bloque3{
        display: flex;
        flex-direction:column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    #bloque3 h3{
        padding-left: 2px;
    }
    #fotos{
        display: none;
    }
}