h2{
    font-size: 40px;
}
#container{
    display: grid;
    grid-template-columns: 2% 4% 22% 3% 28% 2% 37% 2%;
    grid-template-rows: 3% 10% 1% 6% 1% 6% 3% 44% 1% 22% 3%;
    width: 100%;
    height: 100%;

}
#fotoPerfil{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 7;
    text-align: center;
}
#nombre{
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: var(--azul4);
    text-align: center;
}
#cuenta{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: var(--azul3);
}
#correo{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: var(--azul3);
}
#evaluacion{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 11;
    background-color: var(--azul1);
    padding:10px;
}
#horario{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 9;
    background-color: var(--azul1);
}
#asignaturas{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 10;
    grid-row-end: 11;
    background-color: var(--azul1);
    padding:10px;
}
#opciones{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 7;
    text-align: center;
    padding: 15px;
    font-family: "LGeorge";
    font-size: 28px;
}
#opciones :first-child{
    margin-right: 15px;
}
button{
    width: 170px;
    height: 60px;
    background-color: var(--azul2);
    color: var(--textwhite);
    border-radius: 12.25px;
    border: 0px
    
}
button:hover{
    color: var(--azul4);
}
p{
    font-family: "LGeorge";
    font-size: 20px;
    color: black;
    background-color: rgb(170, 170, 170);
    padding: auto;
    text-align: center;
}
#modalPaleta{
    align-content: center;
}
/*=ADAPTABILIDAD
----------------------------------------------------------*/
@media screen and (max-width: 1300px) {
    #container{
        display: flex;
        flex-direction: column;
        row-gap: 15px;

    }
    h2{
        font-family: "Rufb";
        font-size: 30px;
    }
    h3{
        font-family: "LGeorgeb";
        font-size: 22px;
    }
    p{
        font-size: 15px;
    }
    #opciones :first-child{
        margin-right: 10px;
    }
    
}