.flechas{
    background-color: yellow;
}
#der{
    position: absolute;
    right: 5%;
}
#cont{
    flex-grow: 1;
    display: grid;
    grid-template-columns:  2.5% 60% 37.5%;
    grid-template-rows:    100% ;
}
/*=Bloque de Asesorias
---------------------------------------------*/
#asesorias{
    
    grid-column-start:2;

}

#btnBA{
    display: flex;
    justify-content: center;
    margin-top: 42px;
    margin-bottom: 42px;
}
#btnBA>a{
    width: 592px;
    height: 68px;

    background-color: var(--azul3);
    border-radius: 12.25px;

    text-decoration: none;
    font-family: "Ruf";
    font-size: 46px ;
    text-align: center;
    color: #dfdfdf;
}

#txtAses{
    width: 380px;
    height: 44px;

    background-color: var(--gris1);
    font-family: "Ruf";
    font-size: 32px ;
    text-align: center;

    color: #dfdfdf;

    border-radius: 5px;
}

#imp{
    width: 250px;
    height: 44px;
    background-color: var(--azul2);
    border-radius: 5px;

}

#imp>h1{
    font-family: "Ruf";
    font-size: 32px ;
    text-align: center;
    color: #dfdfdf;
}

#asis{
    width: 250px;
    height: 44px;
    background-color: var(--azul2);
    border-radius: 5px;
}

#asis>h1{
    font-family: "Ruf";
    font-size: 32px ;
    text-align: center;

    color: #dfdfdf;
}
/*=TARJETAS
-----------------------------------------------------------*/
#tarjRes{
    width:750px;
    height: 265px;
    background-color: var(--azul2);
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom:32px ;
    display: flex;
    flex-direction: column;
}
#tarjCont1{
    display: grid;
    height: 80%;
    grid-template-columns: 50% 50%;
    grid-template-rows:  25% 25% 25% 25%;
    justify-items: center;
    align-items: center;
}
#tarjCont2{
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows:  25% 25% 25% 25%;
    justify-items: center;
    align-items: center;
}
.nomAses{
    width: 354px;
    height: 45px;
    background-color: #dfdfdf;
    grid-column-start: 1;
    grid-row-start: 1;
}
.fech_hora{
    width: 277px;
    height: 45px;
    background-color: #dfdfdf;
    grid-column-start: 2;
    grid-row-start: 1;
}
.dura{
    width: 277px;
    height: 45px;
    background-color: #dfdfdf;
    grid-column-start: 1;
    grid-row-start: 2;
}
.medio{
    width: 277px;
    height: 45px;
    background-color: #dfdfdf;
    grid-column-start: 2;
    grid-row-start: 2;
}
.mate_tema{
    width: 277px;
    height: 45px;
    background-color: #dfdfdf;
    grid-column-start: 1;
    grid-row-start: 3;
}
.cupo{

    width: 277px;
    height: 45px;
    background-color: #dfdfdf;
    grid-column-start: 1;
    grid-row-start: 4;
}
.lugar{
    width: 277px;
    height: 90px;
    margin-top: 50px;
    background-color: #dfdfdf;
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.cancelar{

    width: 300px;
    height: 45px;
    background-color:var(--gris1);
    align-self: center;
    border-radius: 12.25px;
    font-family: "LGeorge";
    font-size: 32px;
    color: #dfdfdf;
    text-align: center;
    cursor: pointer;
}
.cancelar:hover{
    color: var(--azul4);
}
/*=Bloque de Proximos Eventos
---------------------------------------------*/
#proxEve{
    grid-column-start:3;
    display: flex;
    flex-direction: column;
}

#txtProx{
    align-self: center;

    margin-top: 30px;
    margin-bottom: 22px;
    padding-top:17px;

    width: 404px;
    height: 92px;

    background-color: var(--azul2);
    font-family: "Ruf";
    font-size: 46px ;
    text-align: center;

    color: #dfdfdf;

    border-radius: 5px;
}
#calendario{
    align-self: center;
    background-color: var(--gris1);
    width: 541px;
    height: 498px;
}

#calendario>h1{
    margin-top: 22px;
    margin-left: 80px;
    text-align: center;
    width: 390px;
    height: 49px;
    background-color: var(--azul2);
    color: #dfdfdf;
}

#leyenda{
    display: grid;
    height: 200px;
    grid-template-columns:  27.5% 2.5% 70%;
    grid-template-rows:    7% 20% 20% 20%;
}
#rImp{
    grid-column-start:1;
    grid-row-start:2;
    width: 50px;
    height: 50px;
    justify-self: right;
    background-color: #D88203;
    border-radius: 5px;

}
#lImp{
    grid-column-start:3;
    grid-row-start:2;
    font-size: 26px;
    font-family: "LGeorge";
}
#rAsis{
    grid-column-start:1;
    grid-row-start:4;
    width: 50px;
    height: 50px;
    justify-self: right;
    background-color: #AF0000;
    border-radius: 5px;

}
#lAsis{
    grid-column-start:3;
    grid-row-start:4;
    font-size: 26px;
    font-family: "LGeorge";
}
#btnCNA{
    display: flex;
    justify-content: center;
    margin-bottom: 42px;
}

#btnCNA>a{
    width: 405px;
    height: 110px;

    background-color: var(--azul3);
    border-radius: 12.25px;
    padding-top: 17px;

    text-decoration: none;
    font-family: "Ruf";
    font-size: 46px ;
    text-align: center;
    color: #dfdfdf;
}

#btnCNA>a:hover{
    color: #dfdfdf;
    background-color: var(--azul4);

}
/*=Calendario
----------------------------------*/
#fecha{
    position: relative;
    top: 0%;
    left: 10%;
    width: 80%;
    height: 75%;
    background-color: white;
}