<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../statics/img/favicon/favicon.svg" type="image/png">
    <link rel="stylesheet" href="../libs/bootstrap-5.0.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../libs/fontawesome-free-5.15.3-web/css/all.min.css">
    <link rel="stylesheet" href="../statics/styles/basics.css">
    <link rel="stylesheet" href="../statics/styles/buscar.css">
    <title>Buscar</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="d-flex">
                <a class="navbar-brand" href="./sesionActiva.html" id="blockNav">
                    <img id="navLogo" src="../statics/img/favicon/favicon.svg" alt="" class="d-inline-block align-text-top">
                </a>
                <a class="navbar-brand" id="titulo" href="./sesionActiva.html">
                    <h2 id="tituNav" >Asesorías P6</h2>
                </a> 
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./notificaciones.html"><i class="fas fa-bell"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./perfil.html" id="nomUser"><h2 id="nomNav">Nombre del Usuario</h2></a>
                        </li>
        
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./perfil.html"><i class="far fa-user-circle"></i></a>
                        </li>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </nav>
    
    <div id="busqueda">
        <input id="buscador" type="text" class="carrera" name="carrera" placeholder="Buscar" value="" required>

        <select name="modoBusqueda" id="modoBusqueda">
            <option value="0">Asesoría</option>
            <option value="1">Asesor</option>
        </select>
        <!-- <button type="button" class="submitcarr" name="button">Enviar</button> -->
    </div>

    <div id="cont">
        <div id="filt">
            <h1 id="Filtros">Filtros</h1>
            <div id="filt1">
                <div class="ops">
                    <h1>Fecha:</h1>
                    <select name="modalidad">
                        <option value="0">Todas</option>
                        <option value="1">A Distancia</option>
                        <option value="2">Abierto</option>
                        <option value="3">Escolarizado</option>
                    </select>
                </div>
                
                <div class="ops">
                    <h1>Horario:</h1>
                    <select name="modalidad">
                        <option value="0">Todas</option>
                        <option value="1">A Distancia</option>
                        <option value="2">Abierto</option>
                        <option value="3">Escolarizado</option>
                    </select>
                </div>
            </div>
            
            <div id="filt2">
                <div  class="ops">
                    <h1>Materia:</h1>
                    <select name="modalidad">
                        <option value="0">Todas</option>
                        <option value="1">A Distancia</option>
                        <option value="2">Abierto</option>
                        <option value="3">Escolarizado</option>
                    </select>
                </div>
        
                <div  class="ops">
                    <h1>Modalidad:</h1>
                    <select name="modalidad">
                        <option value="0">Todas</option>
                        <option value="1">A Distancia</option>
                        <option value="2">Abierto</option>
                        <option value="3">Escolarizado</option>
                    </select>
                </div>
            </div>

        </div>
    
        <div id="results">
            <div id="tarjRes">
                <div id="tarjCont">
                    <div id="nomAses">

                    </div>
    
                    <div id="fech_hora">
    
                    </div>
    
                    <div id="dura">
    
                    </div>
    
                    <div id="califAses">
    
                    </div>
    
                    <div id="mate_tema">
    
                    </div>
    
                    <div id="cupo">
    
                    </div>
                </div>
                <a id="mas" href="">Ver más</a>
            </div>
            
            

            <div id="tarjRes">
                <div id="tarjCont">
                    <div id="nomAses">

                    </div>
    
                    <div id="fech_hora" >
    
                    </div>
    
                    <div id="dura" >
    
                    </div>
    
                    <div id="califAses" >
    
                    </div>
    
                    <div id="mate_tema" >
    
                    </div>
    
                    <div id="cupo" >
    
                    </div>
                </div>
                <a id="mas" href="">Ver más</a>
            </div>
        </div>
    </div>
    

    <footer>
        <h3>Asesorías P6</h3>
    </footer>

    <script src="../libs/bootstrap-5.0.1-dist/js/bootstrap.min.js"></script>
</body>
</html>