<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../statics/img/favicon/favicon.svg" type="image/png">
    <link rel="stylesheet" href="../libs/bootstrap-5.0.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../libs/fontawesome-free-5.15.3-web/css/all.min.css">
    
    <link rel="stylesheet" href="../statics/styles/basics.css">
    <link rel="stylesheet" href="../statics/styles/creditos.css">
    <title>Créditos</title>
</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="d-flex">
                <a class="navbar-brand" href="./sesionActiva.html" id="blockNav">
                    <img id="navLogo" src="../statics/img/favicon/favicon.svg" alt="" class="d-inline-block align-text-top">
                </a>
                <a class="navbar-brand" id="titulo" href="./sesionActiva.html">
                    <h2 id="tituNav" >Asesorías P6</h2>
                </a> 
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./notificaciones.html"><i class="fas fa-bell"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./perfil.html" id="nomUser"><h2 id="nomNav">Nombre del Usuario</h2></a>
                        </li>
        
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./perfil.html"><i class="far fa-user-circle"></i></a>
                        </li>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </nav>

      <div id="principal">
        <div id="cont">
          <h1 class="tituloSc">Créditos</h1>

          <h2 class="subtituloSc" id="BE">Back End</h2>
          <div id="c1">
            <div id="bloque1">
              <p>Francisco Galindo</p><br><p>Carlos Emiliano</p>
            </div>
          </div>
          <h2 class="subtituloSc" id="FE">Front End</h2>
          <div id="c2">
            <div id="bloque2">
              <p>Sergio Navarro</p><br><p>Jazmín Ramírez</p>
            </div>
          </div>
          <h2 class="tituloSc" id="programadores">Programadores</h2>
        </div>

        <div id="fotos">
          <div id="imgc">
            <img src="../statics/img/programadores/radon_remaster.jpeg" alt="Carlos Emiliano" >
          </div>
          <div  id="imgf">
            <img src="../statics/img/programadores/PACO.jpeg" alt="Francisco Galindo">
          </div>
          <div id="imgs">
            <img src="../statics/img/programadores/sergio.jpg" alt="Sergio Navarro" >
          </div>
          <div id="imgj">
            <img src="../statics/img/programadores/Jaz.jpeg" alt="Jazmín Ramírez" >
          </div>
        </div>
        
        <div id="bloque3">
          <h3>Carlos Emiliano</h3>
          <h3>Francisco Galindo</h3>
          <h3>Sergio Navarro</h3>
          <h3>Jazmín Ramírez</h3>
        </div>
      </div>
        

      <footer>
        <h3>Asesorías P6</h3>
      </footer>
      
      <script src="../libs/jquery/jquery-3.6.0.min.js"></script>
      <script src="../dynamics/js/cambioPaleta.js"></script>
      <script src="../libs/bootstrap-5.0.1-dist/js/bootstrap.min.js"></script>
</body>
</html>