<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciciar sesión</title>
    <script src="../dynamics/js/inicio_sesion.js"></script>
    <link rel="icon" href="../statics/img/favicon/favicon.svg" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="./libs/fontawesome-free-5.15.3-web/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="./libs/bootstrap-5.0.1-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../statics/styles/basics.css">
    <link rel="stylesheet" href="../statics/styles/iniciarSesion.css">
    
</head>
<body>
    <div id="uno">
        <h1>Iniciar Sesión</h1>
    </div>
    <div id="cuerpo">
        
        <div id="primer">
            <div id="logo">
                <img id="logo" src="../statics/img/favicon/favicon.svg" alt="logo de pingüino" width="350px">
            </div>
            
            <div id="asesoria">
                <h2>Asesorías P6</h2>
            </div>
        </div>
        <br>
        <!-- <form> -->
            <div id="elements">
                <label for="nocuenta">Número de cuenta:</label>
                <br>
                <input type="number" name="nocuenta" id="nocuenta" required class="inputs">
                <br><br>
                <label for="password">Contraseña:</label>
                <br>
                <input type="password" name="password" id="password" required class="inputs">
                <br><br>
            </div>
            
            <div id="boton">
                <button  id="enviar">Iniciar Sesión</button>
            </div>
            
         <!--</form>-->
        <br><br>
        <div id="#new">

        </div>
    </div>
    
    <footer>Asesorías P6</footer>
    
    <script src="../libs/jquery/jquery-3.6.0.min.js"></script>
</body>
</html>