<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../statics/img/favicon/favicon.svg" type="image/png">
    <link rel="stylesheet" href="../libs/bootstrap-5.0.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../libs/fontawesome-free-5.15.3-web/css/all.min.css">
    <link rel="stylesheet" href="../statics/styles/basics.css">
    <link rel="stylesheet" href="../statics/styles/notifiaciones.css">
    <title>Notificaciones</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="d-flex">
                <a class="navbar-brand" href="./sesionActiva.html" id="blockNav">
                    <img id="navLogo" src="../statics/img/favicon/favicon.svg" alt="" class="d-inline-block align-text-top">
                </a>
                <a class="navbar-brand" id="titulo" href="./sesionActiva.html">
                    <h2 id="tituNav" >Asesorías P6</h2>
                </a> 
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./notificaciones.html"><i class="fas fa-bell"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./perfil.html" id="nomUser"><h2 id="nomNav">Nombre del Usuario</h2></a>
                        </li>
        
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./perfil.html"><i class="far fa-user-circle"></i></a>
                        </li>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </nav>
    <div id="principal">
        <div id="cont">
            <h1 class="tituloSc">Notificaciones</h1>
        </div>
        <div id="notificaciones">
            <div id="aseTermino" class="notif">
                <h1 class="tipo">Terminó tu sesión</h1>
                <h1 class="preg">¿Quiénes asistieron a la asesoría?</h1>
                <label for= "asistencia">
                    <label><input type="checkbox" name ="usuario" value="Us1"><h3 class="nomUser">usuario1</h3></label>
                   
                    <label><input type="checkbox" name ="usuario" value="Us2"><h3 class="nomUser">usuario2</h3></label>
                   
                    <label><input type="checkbox" name ="usuario" value="Us3"><h3 class="nomUser">usuario3</h3></label>
                </label>
                <button type="button" class="submitcarr" name="button">Aceptar</button>
            </div>

            <div id="aseSoli" class="notif">
                <h1 class="tipo">Solicitud de asesoría</h1>
                <h1 class="preg">USUARIO esta solicitando una asesoría</h1>
                <div id="infoAses">
                    <h1 id="info">Información de la Asesoría:</h1>
                    <div>

                    </div>
                </div>
                <label for= "soliAses">
                    <label><input type="radio" name ="solicitud" value="Aceptar" required><h3>Aceptar</h3></label>
                    <label><input type="radio" name ="solicitud" value="Rechazar"><h3>Rechazar</h3></label>
                </label>
                <button type="button" class="submitcarr" name="button">Aceptar</button>
            </div>

            <div id="alumTermino" class="notif">
                <h1 class="tipo">Terminó la sesión</h1>
                <h1 class="preg">La asesoría ya ha termido 
                    ¿Gustas dejar un comentario?</h1>
                    <textarea name="texto" rows="7" cols="75" id="comen"></textarea>
                    
                <h1 class="preg">¿Gustas calificar la asesoría?</h1>
                <select name="puntaje" id="pts">
                    <option value="1">1pt de 5pts</option>
                    <option value="2">2pts de 5pts</option>
                    <option value="3">3pts de 5pts</option>
                    <option value="4">4pts de 5pts</option>
                    <option value="5">5pts de 5pts</option>
                </select>
                
                <br><br><br>

                <h1 class="preg">¿Algún usuario tuvó un comportamiento inapropiado?</h1>
                <label for= "usRep">
                    <label><input type="checkbox" name ="usuario" value="Us1"><h3 class="nomUser">usuario1</h3></label>
                   
                    <label><input type="checkbox" name ="usuario" value="Us2"><h3 class="nomUser">usuario2</h3></label>
                   
                    <label><input type="checkbox" name ="usuario" value="Us3"><h3 class="nomUser">usuario3</h3></label>
                </label>
                <h1 class="preg">¿Cuál fue su falta?</h1>
                <label for= "falta" id="falta">
                    <label><input type="radio" name ="tipoFalta" value="A"><h3>No se presentó a la asesoría y no avisó</h3></label>
                    <label><input type="radio" name ="tipoFalta" value="B"><h3>Abuso físico o verbal</h3></label>
                    <label><input type="radio" name ="tipoFalta" value="C"><h3>Acoso</h3></label>
                    <label><input type="radio" name ="tipoFalta" value="D"><h3>Spam</h3></label>
                    <label><input type="radio" name ="tipoFalta" value="E"><h3>Datos personales falsos</h3></label>
                </label>
                <button type="button" class="submitcarr" name="button">Aceptar</button>
            </div>

            <div id="aseIni" class="notif">
                <h1 class="tipo">Tu asesoría</h1>
                <h1 class="preg">La fecha de tu asesoría ya llegó.</h1>
                <button type="button" class="submitcarr" name="button">Aceptar</button>
            </div>

            <div id="aseFin" class="notif">
                <h1 class="tipo">Tu asesoría</h1>
                <h1 class="preg">La horario de tu asesoría ya terminó.</h1>
                <button type="button" class="submitcarr" name="button">Aceptar</button>
            </div>
        </div>

    </div>
    <footer>
        <h3>Asesorías P6</h3>
    </footer>

    <script src="../libs/bootstrap-5.0.1-dist/js/bootstrap.min.js"></script>
</body>
</html>