<html>
  
<body>
    <center>
        <h1 style="color:green; font-style:italic;">
          Geeksforgeeks
      </h1>
        <h2 style="font-style:italic; color:green;">
          HTML select multiple Attribute
      </h2>
        <form action=" ">
            <select name="Bikes" multiple>
                <option value="HeroHonda">HeroHonda</option>
                <option value="Splender">Splender</option>
                <option value="Ninja">Ninja</option>
                <option value="Pulsav">Pulsav</option>
            </select>
            <input type="submit">
        </form>
  
        <p>Hold down the Ctrl (windows) / 
          Command (Mac) button to select multiple options.</p>
    </center>
    <form id="form1">
        <select width=300 
                style="width: 350px">
          <option value='blue'>Blue</option>
          <option value='green'>Green</option>
          <option value='red'>Red</option>
          <option value='yellow'>Yellow</option>
          <option value='' selected>Select a Color</option>
        </select>
      </form>
        
    <p>
        The below list does allows
        multiple selections.
      </p>
      
      <form id="form2">
        <select width=300 style="width: 350px"
                size="5" multiple>
          <option value='blue'>Blue</option>
          <option value='green'>Green</option>
          <option value='red'>Red</option>
          <option value='yellow'>Yellow</option>
          <option value='orange'>Orange</option>
          <option value='blue'>Blue</option>
          <option value='green'>Green</option>
          <option value='red'>Red</option>
          <option value='yellow'>Yellow</option>
          <option value='orange'>Orange</option>
          <option value='blue'>Blue</option>
          <option value='green'>Green</option>
          <option value='red'>Red</option>
          <option value='yellow'>Yellow</option>
          <option value='orange'>Orange</option>
          <option value='blue'>Blue</option>
          <option value='green'>Green</option>
          <option value='red'>Red</option>
          <option value='yellow'>Yellow</option>
          <option value='orange'>Orange</option>
          <option value='blue'>Blue</option>
          <option value='green'>Green</option>
          <option value='red'>Red</option>
          <option value='yellow'>Yellow</option>
          <option value='orange'>Orange</option>
          <option value='blue'>Blue</option>
          <option value='green'>Green</option>
          <option value='red'>Red</option>
          <option value='yellow'>Yellow</option>
          <option value='orange'>Orange</option>
          <option value='blue'>Blue</option>
          <option value='green'>Green</option>
          <option value='red'>Red</option>
          <option value='yellow'>Yellow</option>
          <option value='orange'>Orange</option>
          <option value='blue'>Blue</option>
          <option value='green'>Green</option>
          <option value='red'>Red</option>
          <option value='yellow'>Yellow</option>
          <option value='orange'>Orange</option>
        </select>
      </form>
</body>
  
</html>